<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Specs :: Flyer/Poster</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
  <link href="../stylesheets/evol-colorpicker.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../javascripts/evol-colorpicker.js"></script>

</head>

<body>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <div class="row center">
        <img src="/images/logo.png" width='100' height='100'>
      </div>
      <h3 class="header center black-text text-lighten-1">Next step, some questions on your Flyer/Poster design!</h3>
      <br>
      <div class="divider"></div>

      <!-- //////////////////////////// 1. GENERAL INFORMATION ////////////////////////////////-->
      <div class="row">
        <form class="col s12">

          <h3 class="center section">General Inforamtion</h3>
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">account_circle</i>
              <input id="icon_name" type="text" class="validate">
              <label for="icon_name" class="black-text">Your Name, Please</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">perm_identity</i>
              <input id="icon_organization" type="text" class="validate">
              <label for="icon_organization" class="black-text">Organization Name</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">phone</i>
              <input id="icon_phone" type="text" class="validate">
              <label for="icon_phone" class="black-text">Phone Number</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">email</i>
              <input id="icon_email" type="text" class="validate">
              <label for="icon_email" class="black-text">Email Address</label>
            </div>
            <!-- ###########################################################################-->
            <div class="card-panel amber darken-1 white-text">
              <h5>Where did you hear about Designworks?</h5>
            </div>
            <form action="#">
              <p>
                <input type="checkbox" id="checkbox1" />
                <label class="black-text" for="checkbox1">Facebook</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox2" />
                <label class="black-text" for="checkbox2">Instagram</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox3" />
                <label class="black-text" for="checkbox3">Campus Flyers</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox4" />
                <label class="black-text" for="checkbox4">Northwestern Student Holdings</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox5" />
                <label class="black-text" for="checkbox5">Organizarion Fair</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox6" />
                <label class="black-text" for="checkbox6">Word of Mouth</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox7" />
                <label class="black-text" for="checkbox7">Online Search</label>
              </p>
            </form>
          </div>
        </form>
      </div>

      <div class="divider"></div>
      <!-- ///////////////////// 2. DESIGN SPECIFIC QUESTIONs //////////////////////////////////-->
      <div class="row">
        <form class="col s12">
          <h3 class="center section">Design Specific Questions</h3>
          <!-- ###########################################################################-->
          <div class="card-panel amber darken-1 white-text">
            <h5>1. What paper size?</h5>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="paper-size" type="text" data-length="20">
              <label for="paper-size">A4, A3, US Tabloid, US Letter, Custom size?</label>
            </div>
          </div>
          <!-- ###########################################################################-->
          <div class="card-panel amber darken-1 white-text">
            <h5>2. What text would you like to include?</h5>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="text" type="text" data-length="20">
              <label for="text">e.g. time, location, slogan, header, etc.</label>
            </div>
          </div>
        </form>
      </div>

      <div class="divider"></div>
      <!-- ///////////////////////// 3. VISUAL PREFERENCE //////////////////////////////////// -->
      <div class="row">
        <form class="col s12">
          <h3 class="center">Visual Preferences</h3>
          <h6 class="center">If you know how you want your commission to look. make suggestions. If not, don't fret! Questions in this section are all optional.</h6>
          <br>
          <div class="card-panel amber darken-1 white-text">
            <h5>1. What kind of style would you prefer? Enter in the textbox below!</h5>
          </div>
          <div class="row">
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Minimalist</b></h6>
              <img class="materialboxed" width="200" src="images/peanutbutter.png">
            </div>
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Photo-centred</b></h6>
              <img class="materialboxed" width="200" src="images/DALC.jpg">
            </div>
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Bold Font</b></h6>
              <img class="materialboxed" width="200" src="images/lion.png">
            </div>
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Geometry</b></h6>
              <img class="materialboxed" width="200" src="images/norris.png">
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Classy</b></h6>
              <img class="materialboxed" width="200" src="images/phantom.png">
            </div>
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Retro</b></h6>
              <img class="materialboxed" width="200" src="images/polisci.png">
            </div>
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Doodle</b></h6>
              <img class="materialboxed" width="200" src="images/sheparddm.png">
            </div>
            <div class="col s12 m6 l3 center">
              <h6 class="center"><b>Illustration</b></h6>
              <img class="materialboxed" width="200" src="images/SkiTrip.png">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="choose-styles" type="text" data-length="20">
              <label for="choose-styles">Write your selected style/styles here. E.g. Minimalistic and Geometry</label>
            </div>
          </div>
          <!-- ###########################################################################-->
          <div class="card-panel amber darken-1 white-text">
            <h5>2. Add some colors to your design!</h5>
          </div>

          <div class="row">
            <div class="col s6">
              <div id="colorpicker1"></div>
              <!-- <input style="width:100px;" id="colorpicker1"/> -->
            </div>
            <div class="col s6 valign">
              <div class="input-field col s12">
                <input id="color1" type="text" data-length="10">
                <label for="color1">Choose first color (hex code)</label>
              </div>
              <div class="input-field col s12">
                <input id="color2" type="text" data-length="10">
                <label for="color2">Choose second color (hex code)</label>
              </div>
            </div>
          </div>
          <!-- ###########################################################################-->
          <div class="card-panel amber darken-1 white-text">
            <h5>3. Any image/logo you would like to include?</h5>
          </div>

          <div class="row resize file-upload">
            <div class="file-field input-field">
              <div class="btn orange lighten-2 white-text">
                <span>File</span>
                <input type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your image/logo here">
              </div>
            </div>
          </div>
          <!-- ###########################################################################-->
        </div>
        <div class="card-panel amber darken-1 white-text">
          <h5>4. Any example of design you like?</h5>
        </div>

        <div class="row resize file-upload">
          <div class="file-field input-field">
            <div class="btn orange lighten-2 white-text">
              <span>File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your favorite design here">
            </div>
          </div>
        </div>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>5. Do you have any branding elements?</h5>
        </div>

        <div class="row resize">
          <form class="col s12 resize">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="branding-element" class="materialize-textarea"></textarea>
                <label for="branding-element">e.g. Font and color scheme (hexcode, RGB, CMYK values)</label>
              </div>
            </div>
          </form>
        </div>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>6. Additional comment is always welcomed.</h5>
        </div>

        <div class="row resize">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="additional-comment" class="materialize-textarea"></textarea>
                <label for="additional-comment">Enter your comments here!</label>
              </div>
            </div>
          </form>
        </div>

      </form>
    </div>

    <div class="row">
      <div class="center">
        <a class="orange waves-effect waves-light btn center" href="/success">I am finished!</a>
      </div>
    </div>
  </div>
  <br><br>
</div>


<!-- <footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      Brought to you by <a class="orange-text text-lighten-3" href="http://DesignWorks.nu">DesignWorks NU</a>
    </div>
  </div>

</footer> -->

<!--  Scripts-->
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#colorpicker1").colorpicker({
          defaultPalette: 'web'
        });
    });
</script>

</body>
</html>
