<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>DesignWorks :: Specs Form</title>
  <link rel="icon" href="/images/logo.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <div class="row center">
        <img src="/images/logo.png" width='120' height='120'>
      </div>
      <h2 class="header center black-text">Hey there, welcome to <span class="logo-red">D</span><span class=logo-orange>e</span><span class=logo-teal>s</span><span class=logo-blue>i</span><span class="logo-purple">g</span><span class="logo-red">n</span><span class=logo-orange>W</span><span class=logo-teal>o</span><span class=logo-blue>r</span><span class="logo-purple">k</span><span class="logo-red">s</span>!</h2>
      <div class="divider"></div>
      <br><br>
      <div class="row center">
        <!-- <h5 class="header col s12">First thing first, this should get us started -</h5> -->
        <h5 class="center">What type of design are you interested in?</h5>

        <div class="col m3"></div>
        <div class="input-field col s12 m6">
          <select id="my-designs" class="icons">
            <option value="" disabled selected>Choose your design</option>
            <option value="" class="circle">Flyer/Poster Design</option>
            <option value="" class="circle">Website Design</option>
            <option value="" class="circle">Social Media Package</option>
            <option value="" class="circle">Logo Design</option>
            <option value="" class="circle">Brochure Design</option>
            <option value="" class="circle">Apparel Design</option>
            <option value="" class="circle">Other Design</option>
          </select>
        </div>
        <div class="col m3"></div>
        <!-- <form action="#">
        <p class="center">
        <input name="designtype" type="radio" id="radio1" />
        <label for="radio1">Flyer/Poster Design</label>
      </p>
      <p class="center">
      <input name="designtype" type="radio" id="radio2" />
      <label for="radio2">Website Design</label>
    </p>
    <p class="center">
    <input name="designtype" type="radio" id="radio3" />
    <label for="radio3">Social Media Package</label>
  </p>
  <p class="center">
  <input name="designtype" type="radio" id="radio4" />
  <label for="radio4">Logo Design</label>
</p>
<p class="center">
<input name="designtype" type="radio" id="radio5" />
<label for="radio5">Brochures Design</label>
</p>
<p class="center">
<input name="designtype" type="radio" id="radio5" />
<label for="radio5">Apparel</label>
</p>
</form> -->

</div>

<br><br><br>

<div class="center">
  <button onclick="goPlaces()" class="btn orange waves-effect waves-light center" type="submit" name="action">
    Next Step
  </button>
</div>

</div>
<br><br>
<br><br>
</div>

<!--
<footer class="page-footer orange">
<div class="footer-copyright">
<div class="container">
Brought to you by <a class="orange-text text-lighten-3" href="http://DesignWorks.nu">DesignWorks NU</a>
</div>
</div>
</footer> -->
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script>
$(document).ready(function() {
  $('select').material_select();
});

window.goPlaces = function(){
  var e = document.getElementById("my-designs");
  var strUser = e.options[e.selectedIndex].text;
  switch(strUser){
    case 'Flyer/Poster Design':
      window.location.href = "/flyerposter";
      break;
    case 'Website Design':
      window.location.href = "/website";
      break;
    case 'Social Media Package':
      window.location.href = "/socialmedia";
      break;
    case 'Logo Design':
      window.location.href = "/logo";
      break;
    case 'Brochure Design':
      window.location.href = "/brochure";
      break;
    case 'Apparel':
      window.location.href = "/apparel";
      break;
    case 'Other Design':
      window.location.href = "/other";
      break;
    default:
      alert("Please choose a design from the dropdown list.");
  }
}
</script>
</body>
</html>
