<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Specs :: Website</title>
  <link rel="icon" href="/images/logo.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
  <link href="../stylesheets/evol-colorpicker.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../javascripts/evol-colorpicker.js"></script>
  <script src="../javascripts/base64.js"></script>
  <script src="../javascripts/00website.js"></script>

</head>

<body>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <div class="row center">
        <img src="/images/logo.png" width='100' height='100'>
      </div>
      <h3 class="header center black-text text-lighten-1">Next step, some questions on your Website design!</h3>
      <br>
      <div class="divider"></div>

      <!-- //////////////////////////// 1. GENERAL INFORMATION ////////////////////////////////-->
      <div class="row">
        <form class="col s12">

          <h3 class="center section">General Information</h3>
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">account_circle</i>
              <input id="nameInput" type="text" class="validate">
              <label for="nameInput" class="black-text">Your Name, Please</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">perm_identity</i>
              <input id="organizationInput" type="text" class="validate">
              <label for="organizationInput" class="black-text">Organization Name</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">phone</i>
              <input id="phoneInput" type="text" class="validate">
              <label for="phoneInput" class="black-text">Phone Number</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix orange-text info-icon">email</i>
              <input id="emailInput" type="text" class="validate">
              <label for="emailInput" class="black-text">Email Address</label>
            </div>
            <br>
            <!-- ###########################################################################-->
            <div class="card-panel amber darken-1 white-text">
              <h5>Where did you hear about Designworks?</h5>
            </div>
            <form action="#">
              <p>
                <input type="checkbox" id="facebookInput" />
                <label class="black-text" for="facebookInput">Facebook</label>
              </p>
              <p>
                <input type="checkbox" id="instagramInput" />
                <label class="black-text" for="instagramInput">Instagram</label>
              </p>
              <p>
                <input type="checkbox" id="campusInput" />
                <label class="black-text" for="campusInput">Campus Flyers</label>
              </p>
              <p>
                <input type="checkbox" id="nshInput" />
                <label class="black-text" for="nshInput">Northwestern Student Holdings</label>
              </p>
              <p>
                <input type="checkbox" id="fairInput" />
                <label class="black-text" for="fairInput">Organizarion Fair</label>
              </p>
              <p>
                <input type="checkbox" id="wordInput" />
                <label class="black-text" for="wordInput">Word of Mouth</label>
              </p>
              <p>
                <input type="checkbox" id="searchInput" />
                <label class="black-text" for="searchInput">Online Search</label>
              </p>
            </form>
          </div>
        </form>
      </div>

      <div class="divider"></div>
      <!-- ///////////////////// 2. DESIGN SPECIFIC QUESTIONs //////////////////////////////////-->
      <div class="row">
        <h3 class="center section">Design Specific Questions</h3>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>1. Are you creating a new website or revising an existing one?</h5>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="1Input" type="text" data-length="100">
            <label for="1Input" class="black-text">Your answer here</label>
          </div>
        </div>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>2. How many pages do you want?</h5>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="2Input" type="text" data-length="100">
            <label for="2Input" class="black-text">Your answer here</label>
          </div>
        </div>

        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>3. Do you want your website linked to any external services that require a widget installation (twitter, facebook, etc)?</h5>
        </div>
        <div class="row website-radio-button">
          <form action="#">
            <p>
              <input name="group1" type="radio" id="yes1" />
              <label for="yes1" class="black-text">Yes</label>
            </p>
            <p>
              <input name="group1" type="radio" id="no1" />
              <label for="no1" class="black-text">No</label>
            </p>
          </form>
        </div>

        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>4. Do you want your website to have any javascipt animations?</h5>
        </div>

        <div class="row website-radio-button">
          <form action="#">
            <p>
              <input name="group2" type="radio" id="yes2" />
              <label for="yes2" class="black-text">Yes</label>
            </p>
            <p>
              <input name="group2" type="radio" id="no2" />
              <label for="no2" class="black-text">No</label>
            </p>
          </form>
        </div>


        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>5. Do you want the website to be responsive (i.e. reactive to different screen sizes, devices, orientations, and platforms)?</h5>
        </div>

        <div class="row website-radio-button">
          <form action="#">
            <p>
              <input name="group3" type="radio" id="yes3" />
              <label for="yes3" class="black-text">Yes</label>
            </p>
            <p>
              <input name="group3" type="radio" id="no3" />
              <label for="no3" class="black-text">No</label>
            </p>
          </form>
        </div>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>6. Are there any websites you like or would like us to model yours after? If so, please provide URLs.</h5>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="3Input" type="text" data-length="1000">
            <label for="3Input" class="black-text">Your answer here</label>
          </div>
        </div>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>7. What text would you like to include on each page?</h5>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="4Input" type="text" data-length="1000">
            <label for="4Input" class="black-text">Your answer here</label>
          </div>
        </div>
        <!-- ###########################################################################-->
        <div class="card-panel amber darken-1 white-text">
          <h5>8. Do you want us to design your website for you?</h5>
        </div>
        <div class="row website-radio-button">
          <form action="#">
            <p>
              <input name="group4" type="radio" id="yes4" />
              <label for="yes4" class="black-text">Yes</label>
            </p>
            <p>
              <input name="group4" type="radio" id="no4" />
              <label for="no4" class="black-text">No</label>
            </p>
            <p>
              <input name="group4" type="radio" id="notsure" />
              <label for="notsure" class="black-text">Not sure</label>
            </p>
          </form>
        </div>

        <div class="divider"></div>
        <!-- ///////////////////////// 3. VISUAL PREFERENCE //////////////////////////////////// -->
        <div class="row">
          <form class="col s12">
            <h3 class="center">Visual Preferences</h3>
            <h6 class="center">If you know how you want your commission to look, make suggestions. If not, don't fret! Questions in this section are all optional.</h6>
            <br>
            <div class="card-panel amber darken-1 white-text">
              <h5>1. What kind of style would you prefer? Check the corresponding checkboxes below!</h5>
            </div>
            <div class="row">
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="miniInput" />
                  <label class="black-text" for="miniInput">Minimalist</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/minimalist.png">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="photoInput" />
                  <label class="black-text" for="photoInput">Photo-centered</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/photocentered.jpg">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="boldInput" />
                  <label class="black-text" for="boldInput">Bold Font</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/boldfonts.jpg">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="geoInput" />
                  <label class="black-text" for="geoInput">Geometry</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/geometry.png">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="classyInput" />
                  <label class="black-text" for="classyInput">Classy</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/classy.jpg">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="retroInput" />
                  <label class="black-text" for="retroInput">Retro</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/retro.jpg">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="doodleInput" />
                  <label class="black-text" for="doodleInput">Doodle</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/doodle.png">
              </div>
              <div class="col s12 m6 l3 center design-portfolio">
                <h6 class="center">
                  <input type="checkbox" id="illustrationInput" />
                  <label class="black-text" for="illustrationInput">Illustration</label>
                </h6>
                <img class="materialboxed" height="200" width="200" src="images/illustration.png">
              </div>
            </div>
            <br>
            <!-- ###########################################################################-->
            <div class="card-panel amber darken-1 white-text">
              <h5>2. Add some colors to your design!</h5>
            </div>

            <div class="row color-picker">
              <div class="col s12">
                <div class="col m6 s12 colorpicker1-space">
                  <div id="colorpicker1"></div>
                </div>
                <div class="col m6 s12 color-text">
                  <div class="input-field col s12 valign-wrapper">
                    <input id="color1Input" type="text" placeholder="Choose first color (hex code)"data-length="10">
                  </div>
                </div>
              </div>
              <div class="col s12">
                <div class="col m6 s12">
                  <div id="colorpicker2"></div>
                </div>
                <div class="col m6 s12 color-text">
                  <div class="input-field col s12 valign-wrapper">
                    <input id="color2Input" type="text" placeholder="Choose second color (hex code)"data-length="10">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- ###########################################################################-->
            <!-- <div class="card-panel amber darken-1 white-text">
              <h5>3. Any image/logo you would like to include?</h5>
            </div>

            <div class="row resize file-upload">
              <div class="file-field input-field">
                <div class="btn orange lighten-2 white-text">
                  <span>File</span>
                  <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload your image/logo here">
                </div>
              </div>
            </div>

          <br> -->
          <!-- ###########################################################################-->

          <!-- <div class="card-panel amber darken-1 white-text">
            <h5>4. Any example of design you like?</h5>
          </div>

          <div class="row resize file-upload">
            <div class="file-field input-field">
              <div class="btn orange lighten-2 white-text">
                <span>File</span>
                <input type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your favorite design here">
              </div>
            </div>
          </div>
          <br> -->
          <!-- ###########################################################################-->
          <div class="card-panel amber darken-1 white-text">
            <h5>3. Do you have any branding elements?</h5>
          </div>

          <div class="row resize">
            <form class="col s12 resize">
              <div class="row">
                <div class="input-field col s12">
                  <input id="brandingInput" type="text" data-length="1000">
                  <label for="brandingInput" class="black-text">e.g. fonts or color schemes (Hex codes, RGB, CMYK values)</label>
                </div>
              </div>
            </form>
          </div>
        </div>

          <!-- ###########################################################################-->
          <div class="card-panel amber darken-1 white-text">
            <h5>4. Additional comments are always welcome.</h5>
          </div>

          <div class="row resize">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="commentInput" class="materialize-textarea"></textarea>
                  <label for="commentInput" class="black-text">Enter your comments here!</label>
                </div>
              </div>
            </form>
          </div>

        </form>
      </div>

      <!-- ###########################################################################-->
      <div class="row">
        <div class="col s12">
          <h4 class="center bottom-title">You are almost there! </h4>
          <blockquote>     Please review your answers above and click "I'm ready" - an email will be generated for you to send your answers to us.</blockquote>
          <blockquote>     Remember to <u>attach</u> any images/logos you would like to include in this design or any examples of designs you like to the email.</blockquote>
        </div>
        <div class="center new-design">
          <a class="amber darken-1 waves-effect waves-light btn center" href="javascript://Save as TXT" id="submitLink">I'm ready!</a>
          <p>Feel free to start another design <a href="/" target="_blank"><u>here</u></a>!</p>
        </div>
      </div>
    </div>
    <br><br>
  </div>


  <!-- <footer class="page-footer orange">
  <div class="footer-copyright">
  <div class="container">
  Brought to you by <a class="orange-text text-lighten-3" href="http://DesignWorks.nu">DesignWorks NU</a>
</div>
</div>

</footer> -->

<!--  Scripts-->
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#colorpicker1").colorpicker({
    defaultPalette: 'web'
  });
  $("#colorpicker1").on("change.color", function(event, color) {
    $("#color1Input").val(color);
  });
  $("#colorpicker2").colorpicker({
    defaultPalette: 'web'
  });
  $("#colorpicker2").on("change.color", function(event, color) {
    $("#color2Input").val(color);
  });

});
</script>

</body>
</html>
