/* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: "general";
    src: url("/fonts/CircularStd-Medium.otf") format("truetype");
}

@font-face {
    font-family: "title";
    src: url("/fonts/CircularStd-Bold.otf") format("truetype");
}

html {
    background-color: #f3f3f3;
    font-family: "title", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
h6{
  font-size: 1.2em;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
.input-field input[type=file]:focus + label {
  color: #000;
}
.input-field textarea[class=materialize-textarea]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=file]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field textarea[class=materialize-textarea]:focus {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}
/* Default text color for placeholder */
::-webkit-input-placeholder {
    color: #000000;
}
/* GENERAL STYLING FOR 6 PAGES */
.section{
  padding-bottom: 7px;
}
.info-icon {
  margin-top: 8px;
}
.card-panel {
  padding-top: 5px;
  padding-bottom: 5px;
}
.resize {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
.file-upload {
  padding-top: 10px;
}
.material-placeholder{
  text-align: center;
}
img.materialboxed.initialized {
  margin: auto;
  text-align: center;
}
div.evo-pop.ui-widget-content.ui-corner-all {
  margin: auto;
  text-align: center;
}
.col.s12.m6.l3.center.design-portfolio {
  padding-bottom: 20px;
}
img.materialboxed.initialized {
  width: 80%;
  height: 80%;
}
/* styling for color-picker */
.row.color-picker {
  padding-top: 30px;
}
.col.m6.s12.colorpicker1-space {
  padding-bottom: 20px;
}
.col.m6.s12.color-text {
  padding-top: 80px;
}

@media screen and (max-width: 600px) {
  .col.m6.s12.color-text {
    padding-top: 0px;
  }
  .col.m6.s12.colorpicker1-space {
    padding-bottom: 0px;
  }
}
/* styling for instruction at bottom */
h4.center.bottom-title {
  padding-bottom: 10px;
}
.center.new-design {
  padding-top: 190px;
  padding-bottom: 10px;
}
.center.new-design p {
  padding-top: 35px;
}
/***  Website Page ***/
.row.website-radio-button {
  padding-left: 10px;
}
/***  Site Colors  ***/
.logo-purple {
    color: rgb(154,84,158);
}

.logo-orange {
    color: rgb(245,163,58);
}

.logo-teal {
    color: rgb(49,165,153);
}

.logo-blue {
    color: rgb(89,161,213);
}

.logo-red {
    color: rgb(237,84,85);
}

.logo-green {
    color: rgb(81,181,87);
}
